.space {
  flex: 1;
}

.HomeScreen {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.ProductCard__btn {
  text-decoration: none;
}
.ProductCard__img {
  align-self: center;
  height: 300px;
  width: fit-content;
}

.ProductDetailsScreen {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.ProductDetailsScreen__title {
  color: white;
}
