.space {
  flex: 1;
}

.HomeScreen {
  background-color: #282c34;
  padding: 80px 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* align-items: center; */
  justify-content: center; 
}
.ProductCard {
  display: inherit;
	width:300px;
	height:350px;
  margin: 20px;

}
.ProductCard__btn {
  text-decoration: none;
}
.ProductCard__img {
  align-self: center;
  height: 150px;
  width: fit-content;
}

.ProductDetailsScreen {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.ProductDetailsScreen__title {
  color: white;
}
